<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angularjs Dersleri</title>
    <script src="app/bower_components/angular/angular.js"></script>
    <script>

        var benimapp = angular.module("myapp", []);
        benimapp.controller("mycontrol", function ($scope, $http) {

            $http.get("https://jsonplaceholder.typicode.com/posts").then(function (response) {
                $scope.veriler = response.data;
            })
        });

    </script>
    <style>
        ul {
            list-style-type: none;
        }

        li {
            padding: 10px;
            margin: 10px;
            border: 1px solid darkcyan;
            color: #345345;
        }
    </style>
    <style>
        .deneme{
            height: 200px;
            width: 200px;
        }
    </style>
</head>
<body ng-app="myapp" ng-controller="mycontrol">

<button ng-click="deger=deger+1">Deger Arttır</button>{{deger}}<br>
<button ng-click="deger=deger-1">Deger Azalt</button><br>
<div ng-style="deger==5 && {'color':'red','background':'black'}" class="deneme">deneme bir ders</div>

</body>
</html>