<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angularjs Dersleri</title>
    <script src="app/bower_components/angular/angular.js"></script>
    <script>

        var benimapp = angular.module("myapp", []);
        benimapp.controller("mycontrol", function ($scope) {
            $scope.isimler=["sait", "serhat", "pekediz", "adriana", "lima"];
        });

    </script>
</head>
<body ng-app="myapp" ng-controller="mycontrol">
isim ara : <input type="text" ng-model="arama">
<ul>
    <li ng-repeat="isim in isimler | filter:arama">
        {{isim}}
    </li>
</ul>

</body>
</html>